1Password/**
akregatorrc
autostart/**
baloofilerc
bashtop/**
binwalk/**
BraveSoftware/**
chromium/**
Code\ Industry/**
dconf/**
discord/**
efm-langserver/**
evolution/**
falkon/**
gedit/**
gh/**
gnome-control-center/**
gnome-session/**
goa-1.0**
google-chrome/**
google-chrome-beta/**
google-chrome-unstable/**
gtk-3.0/**
gtk-4.0/**
gtkrc
gtkrc-2.0
guake/**
hexchat/**
htop/**
ibus/**
kactivitymanagerdrc
kactivitymanagerd-statsrc
kateschemarc
katevirc**
kazam/**
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kde.org/
kdeveloprc**
kglobalshortcutsrc
knfsshare**
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
Kvantum/**
kwinrc
kwinrulesrc
kxkbrc
lazygit/**
libaccounts-glib/
libreoffice/**
manjaro/**
manjaro-hello.json**
menus/**
microsoft-edge/**
microsoft-edge-dev/**
mimeapps.list**
monitors.xml**
monitors.xml~**
nautilus/**
op/**
pamac/**
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
pop-shell/**
powerdevilrc
powermanagementprofilesrc
pulse/**
qt5ct/**
QtProject.conf**
ranger/**
session/**
solaar/**
spotify/**
styluslabs/**
sublime-text/**
systemsettingsrc
TabNine/**
terminator/**
tlpui/**
totem/**
Trolltech.conf**
ungoogled-chromium/**
Unknown\ Organization/**
user-dirs.dirs**
user-dirs.locale**
vivaldi/**
vivaldi-snapshot/**
vokoscreenNG/**
xplr/**
yarn/**
zoom/**
zoomus.conf
