1Password/**
autostart/**
bashtop/**
binwalk/**
BraveSoftware/**
chromium/**
dconf/**
discord/**
efm-langserver/**
evolution/**
falkon/**
gedit/**
gh/**
gnome-control-center/**
gnome-session/**
goa-1.0**
google-chrome/**
google-chrome-unstable/**
google-chrome-beta/**
gtk-3.0/**
gtk-4.0/**
hexchat/**
ibus/**
katevirc**
kdeveloprc**
knfsshare**
Kvantum/**
lazygit/**
libreoffice/**
manjaro/**
manjaro-hello.json**
menus/**
microsoft-edge/**
microsoft-edge-dev/**
mimeapps.list**
monitors.xml**
monitors.xml~**
nautilus/**
op/**
pamac/**
pop-shell/**
pulse/**
qt5ct/**
QtProject.conf**
ranger/**
session/**
solaar/**
TabNine/**
terminator/**
tlpui/**
Trolltech.conf**
ungoogled-chromium/**
user-dirs.dirs**
user-dirs.locale**
Unknown\ Organization/**
vivaldi/**
vivaldi-snapshot/**
xplr/**
yarn/**
zoom/**
zoomus.conf
