autostart/
bashtop/
binwalk/
BraveSoftware/
chromium/
dconf/
efm-langserver/
evolution/
falkon/
gedit/
gh/
gnome-control-center/
gnome-session/
goa-1.0
google-chrome/
google-chrome-unstable/
gtk-3.0/
gtk-4.0/
hexchat/
ibus/
katevirc
kdeveloprc
knfsshare
Kvantum/
lazygit/
manjaro/
manjaro-hello.json
menus/
microsoft-edge/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
op/
pop-shell/
pulse/
qt5ct/
QtProject.conf
ranger/
session/
solaar/
TabNine/
terminator/
tlpui/
Trolltech.conf
ungoogled-chromium/
user-dirs.dirs
user-dirs.locale
xplr/
yarn/
