snippet "rep (\d+) (\S*)" "repeat" r
`!p snip.rv = int(match.group(1)) * match.group(2)`
endsnippet

snippet date "current date"
`!p
import datetime
td = datetime.date.today()
snip.rv = f"{td.year}/{td.month:02}/{td.day:02}"
`
endsnippet
